@CHARSET "UTF-8";
div,ul,li,img,table{border:0px; margin:0; padding:0;}
ul,dl,dt,dd,ol,li{list-style-type:none;}
body {
	margin: 0px;
	background-image: url(../images/left_bg.png);
	background-repeat: repeat-y;
}
body,div,li {
	font-size: 12px; font-weight:bold;
	font-family: Verdana, Geneva, sans-serif;
}

.nav { color:#fff; margin-top:10px; margin-left:10px;}
.nav ul li{ text-align:right;background:url(../images/left_nav_bg.png) top left no-repeat; _height:24px; line-height:24px; margin-top:4px;}
.nav ul li a{color:#fff; text-decoration:none; padding-right:15px; display:block }
.nav ul li a:hover {color:#fff;text-decoration:none}
.nav ul li ul{ display:none; padding-left:15px;}
.nav ul li ul li{ background:none; text-align:right; _height:24px; line-height:24px;}
.nav ul li ul li a{ color:#334905;}
.nav ul li ul li a:hover {color:#334905;}
.nav ul li ul li a.selected{ background:url(../images/left_nav_bg_current.png) left no-repeat;}

