@CHARSET "UTF-8";
body,table,th,tr,td,div,p,h1,h2,h3,h4,h5,ul,li,ol,dl,dt,dd,form,input,fieldset,img{border:0; margin:0; padding:0;}
body,td,p,div,li,select,input,textarea {font:12px/1.5 Tahoma, Arial, \5b8b\4f53; color:#222;}
body,.wrap{ background:#FFF;}
ul,dl,dt,dd,ol,li{list-style-type:none;}
select,input,img {vertical-align:middle;}
.wrap{  margin:0 auto; width:98%;}
a{color:#000;text-decoration: none;}
a:hover{text-decoration: underline;}

.red{ color:red;}
.bg-ccc{background:#ccc;}

.imgbox img{
   border:1px solid #eee; padding:3px; display:inline-block;
}
object{margin:10px 0px;}
/**/
.float-left{ float:left;}
.float-right{ float:right;}
.text-center{ text-align:center;}
.text-left{ text-align:left;}
/**/
.display-none{ display:none;}
.display-block{ display:inline-block;}

/*内容页导航样式*/
.map{width:98%;border-bottom:1px solid #BED393;height:38px; line-height:38px; color:#334905; font-size:13px; font-weight:bold;}
.map dl{  }
.map dl dt{ float:left;}
.map dl dd{ float:right; text-align:right;}
.map dl dd a{ margin:8px 0px;}
/*desc*/
.desc{ color:#888; padding:5px 5px; display:block;}
/*title样式*/
.title{margin-top:8px; font-weight:bold; width:98%; color:#000;border-bottom:1px solid #C1C8D2;}
.title dl{  display:inline-block; width:100%;}
.title dl dt{ float:left; width:100px; padding:3px 0; }
.title dl dd{ float:right; text-align:right; padding:3px 0;}	

/*列表*/
.list{ color:#333;}
.list th{ color:#666; font-weight:100; background:#F2F4F6; height:26px; line-height:26px; border-bottom:1px solid #C1C8D2; }
.list td{ padding:3px 0;  border-bottom:1px solid #E3E6EB; text-align:center;}
.list tr.odd  { background:#FFFFFF;}
.list tr.highlight { background:#f5f5f5;}
.list tr.selected  { background:#F2F8E6; }

#productType{ border-bottom:2px solid #c1c8d2; padding-bottom:20px;}
#productType li a{color:#777;}
/*添加页面样式*/
.add{ width:100%;}
.add th{text-align:right; width:150px;line-height: 26px; vertical-align: top;padding:5px 0;}
.add td{padding:5px 0;line-height: 26px;}
.add td span{color:#777; display:block;}
.add td td span{ display:inline};/*兼容ckeditor*/
.add label.error{color:red; text-align:left; font-weight:100; background:url(../images/label_error.gif) 3px no-repeat; padding-left:15px; margin-left:5px;}
/*分页*/
.page{ margin:8px auto 0 auto;color:#333; height:34px; border-bottom:2px solid #ddd; }
.page dl{ padding:3px;}
.page dl dt{ float:left; width:30%;}
.page dl dd{ float:right;width:70%; text-align:right;}
/**/
#keyword{

}
#btnSearch,#btnDelete,#btnSubmit,#btnReset,#btnBack,#btntj,#btnqxtj{background:url(../images/btn_bg2.gif) no-repeat; cursor:pointer;height:26px;line-height:18px; width:64px;}
#btnSearch:hover,#btnDelete:hover,#btnSubmit:hover,#btnReset:hover,#btnBack:hover,#btnqxtj:hover,#btntj:hover{color:#87A34D;}
/*文本框*/
.input { line-height:20px; padding:2px 4px; height:20px; border:1px solid #999;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.inputhover {background:#FFFFE1; 
line-height:20px; padding:2px 4px; height:20px; border:1px solid #999;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
input[readonly=readonly]{ background:#f0f0f0;}

select{ line-height:26px; padding:2px 4px; height:26px; border:1px solid #999; font-size:14px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
/**/
.info_success {
	margin:30px 0;
	color: #339933; font-size:14px;
	background: url(/images/success.gif) #F7F7FF 10px 50% no-repeat ;
	border: 1px solid #CCCCCC;
	padding: 2em 1em 2em 2.5em;
}
.info_error {
	margin:30px 0;
	color: #BD0D13;font-size:14px;
	background: url(/images/error.gif) #F7F7FF 10px 50%  no-repeat; 
	border: 1px solid #CCCCCC;
	padding: 2em 1em 2em 2.5em;
}
.info_notice {
	margin:30px 0;
	font-size:14px;
	background: url(/images/notice.gif) #F7F7FF 10px 50%  no-repeat; 
	border: 1px solid #CCCCCC;
	padding: 2em 1em 2em 2.5em;
}
/**/

/*添加显示按钮*/
a.link {background:url(../images/link_a.gif) no-repeat; color:#334905; width:110px; height:24px; font-size:12px; display:inline-block; text-align:center; line-height:24px;}
a.link:hover{background:url(../images/link_hover.gif) no-repeat; text-decoration: none;}

/**/
.edit{ background:url(../images/icon_edit.gif) 2px no-repeat; padding-left:20px; color:#87A34D; display:inline-block; text-decoration:none}
.priv{ background:url(../images/icon_priv.gif) 2px no-repeat; padding-left:20px; color:#87A34D;  display:inline-block; text-decoration:none}
.view{ background:url(../images/icon_view.gif) 2px no-repeat; padding-left:20px; color:#87A34D; display:inline-block; text-decoration:none}
.delete{ background:url(../images/icon_drop.gif) 2px no-repeat; padding-left:20px; color:#87A34D; display:inline-block; text-decoration:none}

/**/
.notext {
	padding: 1em 1em 1em 1em; text-align:center; font-weight:bold; background:#F2F8E6;
}

/*footer*/
.footer{ text-align:center; height:50px; line-height:50px; color:#999; border-top:3px solid #CCC;}

/*图片显示*/
#dhtmltooltip {
font-size: 9pt;BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 4px; Z-INDEX: 100; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=120); VISIBILITY: hidden; PADDING-BOTTOM: 4px; BORDER-LEFT: gray 1px solid; WIDTH: 150px; PADDING-TOP: 4px; BORDER-BOTTOM: gray 1px solid; POSITION: absolute; BACKGROUND-COLOR: #cccccc
}
/* 选项卡 */
.tab{width:100%; margin-top:8px; }
.tab dl{ }
.tab dl dt{height:27px; border-bottom:2px solid #87A34D; background:#FFF;}
.tab dl dt a{ float:left;background:#f1f1f1; display:block; text-decoration:none;cursor:pointer;width:80px; height:27px;line-height:27px;text-align:center;color:#333;}
.tab dl dt a.tabActive{background:#87A34D;color:#fff;position:relative;}
.tab dl dd{margin-top:10px;}

