{if $yemianid=='conmpany'}
<div class="cbanner">
    <img src="../{$banner_conmpany.image}">
</div>
{elseif $yemianid=='culture'}
<div class="cbanner">
    <img src="../{$banner_culture.image}">
</div>
{elseif $yemianid=='news'}
<div class="cbanner">
    <img src="../{$banner_news.image}">
</div>
{elseif $yemianid=='building'}
<div class="cbanner">
    <img src="../{$banner_building.image}">
</div>
{elseif $yemianid=='business'}
<div class="cbanner">
    <img src="../{$banner_business.image}">
</div>
{elseif $yemianid=='safety'}
<div class="cbanner">
    <img src="../{$banner_safety.image}">
</div>

{elseif $yemianid=='staff'}
<div class="cbanner">
    <img src="../{$banner_staff.image}">
</div>
{elseif $yemianid=='contact'}
<div class="cbanner">
    <img src="../{$banner_contact.image}">
</div>

{/if}