{include file="sysadmin/header.tpl"}
<div class="wrap map"> 
    <dl> 
        <dt>系统设置 &gt;&gt; 修改密码</dt> 
        <dd> 
            
        </dd> 
   </dl> 
</div> 

{if $action eq ""}

<div class="wrap title"> 
	<dl> 
    	<dt>修改密码</dt> 
        <dd>        
        <span class="red">*</span>号为必填项
        </dd> 
    </dl>
</div> 

<div class="wrap">
<form id="form1" name="form1" method="post" action="?action=edit"> 
<input type="hidden" name="id" value="{$admin.id}" /> 
<table class="add">
<tr>
	<th>登录用户名：<font class="red">*</font></th>
    <td>
    <input name="user_id" maxlength="20" type="text" class="input" id="user_id" style="width:200px;" readonly="readonly" value="{$admin.user_id}" /> 
    </td>
</tr>
<tr>
	<th>姓名：<font class="red">*</font></th>
    <td>
    <input name="username" maxlength="20" type="text" class="input" id="username" style="width:200px;" value="{$admin.username}" /> 	</td>
</tr>
<tr>
	<th>旧密码：</th>
    <td>
    <input name="oldpassword" maxlength="20" type="password" class="input" id="oldpassword" style="width:200px;" /> 
    </td>
</tr>
<tr>
	<th>新密码：</th>
    <td>
    <input name="password" maxlength="20" type="password" class="input" id="password" style="width:200px;" /> 
    </td>
</tr>
<tr>
	<th>确认新密码：</th>
    <td>
    <input name="confirmpassword" maxlength="20" type="password" class="input" id="confirmpassword" style="width:200px;" /> 
    <span>不修改密码以上三项请留空</span>
    </td>
</tr>
<tr>
	<th>邮箱：<font class="red">*</font></th>
    <td>
    <input name="email" maxlength="50" type="text" class="input" id="email" style="width:200px;" value="{$admin.email}" /> 
    <span>找回密码时使用</span>    
    </td>
</tr>
<tr>
	<th></th>
    <td>
    <input name="btnSubmit" type="submit" id="btnSubmit" value="确定" /> 
    <input name="btnReset" type="reset" id="btnReset" value="清除" /> 
    <input name="btnBack" type="button" id="btnBack" value="返回" /> 
    </td>
</tr>
</table>
</form> 
</div> 

{/if}

{literal} 
<script type="text/javascript"> 
<!--
$(document).ready(function() {
	$("#form1").validate({
		rules: {
			user_id: { required: true,minlength:5 },
			username:{required:true},
			//oldpassword:{required:true},
			password:{minlength:5},
			confirmpassword:{equalTo: "#password"},
			email:{required:true,email:true}
		},
		submitHandler:function(form){
			$("#btnSubmit").attr("disabled",true);
			form.submit();
		}
	});
})
//-->
</script> 
{/literal}
