<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>找回密码</title>
</head>
<body>
<h3>找回密码：</h3>
<form action="?action=getpassword" method="post" id="form1">
请输入邮箱：<br><br>
<input name="email" id="email" type="text" style="width:200px;" maxlength="50" />
<br><br>
<input type="submit" name="btnSubmit" value="确定" />
<br><br>
注：新密码将发送到你的邮箱!
</form>
</body>
</html>