{include file="sysadmin/header.tpl"}
<div class="wrap map"> 
    <dl> 
        <dt>报名系统 &gt;&gt; 报名信息</dt> 
        <dd> 
            <a href="?" class="link">报名信息</a>
            <!-- <a href="?action=tj" class="link">添加报名</a>  -->
        </dd> 
   </dl> 
</div> 

{if $action eq ""}
<form action="" method="get" id="searchForm"> 
<div class="wrap title"> 
	<dl> 
    	<dt style="padding-top:5px">报名信息</dt>
        <dd>        
        <input type="text" name="keyword" id="keyword" value="{$keyword}" title="根据用户名或姓名搜索" onFocus="this.value='';" /> 
        <input type="submit" name="button" id="btnSearch" value=" 搜 索 " /> 
        </dd> 
    </dl>
</div> 
</form> 

<div class="wrap"> 
<form method="post" action="?action=delete" id="form1"> 
  <table width="100%" cellpadding="0" cellspacing="0" class="list"> 
    <thead> 
    <tr> 
      <th><input type="checkbox" id="all" /></th> 
      <th>姓名</th> 
      <th>报名时间</th> 
      <th>操作</th> 
    </tr>  
     </thead> 
    <tbody> 
    {section name=list loop=$adminList}
    <tr onclick="show({$adminList[list].id});" style="cursor:pointer"> 
      <td><input type="checkbox" name="id[]" value="{$adminList[list].id}" /></td> 
      <td>{$adminList[list].name}</td>
      <td>{$adminList[list].time|date_format:"%Y-%m-%d %H:%M:%S"}</td> 
      <td><a href="?action=bj&id={$adminList[list].id}" class="edit">查看</a></td> 
    </tr> 
    {sectionelse}
    <tr>
        <td colspan="8"><div class="notext">没有相关信息</div></td>
    </tr>
    {/section}
    
  
     </tbody> 
    </table> 
 	
    <div class="page"> 
        <dl> 
            <dt><input type="submit" name="btnDelete" value="删除" onClick="return listDelete(this.form.name);" id="btnDelete" /></dt> 
            <dd> 
            {$pager}        
			</dd> 
        </dl>  
    </div> 
         
</form> 
<div class="desc"></div>
</div> 
{elseif $action eq "bj"}

<div class="wrap title"> 
	<dl> 
    	<dt>查看报名信息</dt> 
        <dd>        
        <span class="red">*</span>号为必填项
        </dd> 
    </dl>
</div> 

<div class="wrap" style=" position:relative;">
<form id="form1" name="form1" method="post" action="?action=edit"> 
<input type="hidden" name="id" value="{$admin.id}" /> 
<table class="add">
<tr>
	<th>姓名：</th>
    <td>
  {$admin.name}
    
    </td> 
</tr>
<tr>
	<th>性别：</th>
	<td>
    {$admin.sex}
    </td>    
</tr>
<tr>
	<th>邮箱：</th>
	<td>
    {$admin.email} 
    </td>
</tr>
<tr>
	<th>课程：</th>
	<td>
    {$admin.kecheng}
    </td>
</tr>
{if $admin.xuqiu!=0}
<tr>
	<th>发票需求：</th>
	<td>
    	需要
    </td>
</tr>
<tr>
	<th>发票类型：</th>
	<td>
	{if $admin.leixing==0}
   	个人
    {else}
    公司
    {/if}
    </td>
</tr>
<tr>
	<th>发票抬头：</th>
	<td>
    	 {$admin.fapiao}
    </td>
</tr>
{else}
<tr>
	<th>发票需求：</th>
	<td>
    	不需要
    </td>
</tr>
{/if}
<tr>
	<th>备注：</th>
	<td>
   {$admin.contents}
    </td>
</tr>

<tr>
	<th></th>
	<td>

    <input name="btnBack" type="button" id="btnBack" value="返回" />
    </td>
</tr>

</table>

</form> 
</div>
{/if}

{literal} 
<script type="text/javascript"> 
$(document).ready(function() {
	//表单验证
	$("#form2").validate({
		rules: {
			title: {required: true},
			contents: {required:true},
			level:"required"
		},
		errorPlacement: function(error, element) { //指定错误信息位置
            if (element.is(':radio') || element.is(':checkbox')) {  //如果是radio或checkbox
                var eid = element.attr('name');  //获取元素的name属性
                error.appendTo(element.parent());    //将错误信息添加当前元素的父结点后面
            } else {
                error.insertAfter(element);
            }
        },
		submitHandler: function (form) {
			$("#btnSubmit").attr("disabled",true);
			form.submit();
		}

	});		
})
$(document).ready(function() {
	$("#form1").validate({
		rules: {
			user_id: { required: true,minlength:5 },
			password:{required:true,minlength:5},
			confirmpassword:{required:true,equalTo: "#password"},
			uname:{required:true},
			ads:{required:true},
			tel:{required:true},
			email:{required:true,email:true},
			role_id:{required:true},
			state_id:{required:true}
		},
		submitHandler:function(form){
			$("#btnSubmit").attr("disabled",true);
			form.submit();
		}
	});
})
</script> 
{/literal}
