<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>学习主题 | {$web.title}</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/example.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.slides.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<header>
    <section class="sw">
        <div class="log"></div>
        <a class="search"></a>
    </section>
    {literal}
    <form method="post" action="Theme-List.php">
        <section class="search-box">
            <div class="search-box-input"> <input type="text" name="search" value="请输入关键字" onfocus="if(value=='请输入关键字'){value=''}" onblur="if(value==''|| value==' '){ value='请输入关键字'}"></div>
        </section>
    </form>
    {/literal}
</header>
<section class="studybanner">
<img src="images/service/theme.png">
</section>
<article class="studylist">
<ul>
    {foreach $theme_type as $t}
    <li>
        <a href="Theme-List.php?tid={$t.id}">
        <img src="{$t.image}">
        <div class="tcopy">{$t.name}</div>
         </a>
    </li>
    {/foreach}
</ul>
</article>
</body>
</html>