
<div class="footer">
    <div class="wreaper">
        <div class="f01">
            <h3><a href="/conmpany/conmpany.php">走进嘉隆</a></h3>
            <ul>
                    <li><a href="/conmpany/conmpany.php"> 公司简介</a></li>
                    <li><a href="/conmpany/conmpany_struct.php"> 组织架构</a></li>
                    <li><a href="/conmpany/conmpany_history.php"> 发展历程</a></li>
                    <li><a href="/conmpany/conmpany_honor.php"> 公司荣誉</a></li>
                    <li><a href="/conmpany/conmpany_profit.php"> 社会公益</a></li>
            </ul>
        </div>
        <div class="f02">
            <h3><a href="/culture/culture.php">企业文化 </a></h3>
            <ul>
                <li><a href="/culture/culture.php"> 经营理念</a></li>
                    <li><a href="/culture/culture_nk.php"> 企业内刊</a></li>
                    <li><a href="/culture/culture_tu.php"> 图片专栏</a></li>
                    <li><a href="/culture/culture_video.php"> 视频中心</a></li>
            </ul>
        </div>
        <div class="f03">
            <h3><a href="/news/news.php">新闻中心</a></h3>
            <ul>
                  {section name=i loop=$top_news}
                    <li><a href="/news/news.php?whatid={$top_news[i].id}"> {$top_news[i].name}</a></li>
                {/section}    
            </ul>
        </div>
        <div class="f04">
            <h3><a href="/building/building.php?whatid=2&parent_id=8">党建工作</a></h3>
            <ul>
                 {section name=i loop=$top_duilding}
                    <li><a href="/building/building.php?whatid={$top_duilding[i].id}"> {$top_duilding[i].name}</a></li>
                 {/section}
            </ul>
        </div>
        <div class="f05">
            <h3><a href="/business/business-list.php?whatid=2&whattid=4">业务介绍</a></h3>
            <ul>
                {section name=i loop=$top_business}
                {if $top_business[i].id==2}
                <li><a href="/business/business-list.php?whatid={$top_business[i].id}&whattid=4"> {$top_business[i].name}</a></li>
                {elseif $top_business[i].id==3}
                <li><a href="/business/stretch.php?whatid=3&whattid=9"> {$top_business[i].name}</a></li>
                {/if}
                {/section}
            </ul>
        </div>
        <div class="f06">
            <h3><a href="/safety/safety.php">安全管理</a></h3>
            <ul>
                <li><a href="/safety/safety-zhi.php?whatid=2"> 职能介绍</a></li>
                <li><a href="/safety/safety.php?whatid=3">安全百科</a></li>
            </ul>
        </div>
        <div class="f07">
            <h3><a href="/staff/staff.php">员工风采</a></h3>
            <ul>
                {section name=i loop=$top_staff}
                <li><a href="/staff/staff.php?whatid={$top_staff[i].id}"> {$top_staff[i].name}</a></li>
                {/section}
            </ul>
        </div>
        <div class="f08">
            <h3><a href="/contact/contact.php">联系我们</a></h3>
            <ul>
                {section name=i loop=$top_contact}
                <li><a href="/contact/contact.php?whatid={$top_contact[i].id}">{$top_contact[i].name}</a></li>
                {/section}
            </ul>
        </div>
        <div class="foot_images">
            <h3>扫一扫,更多惊喜</h3>
            <div class="foot_images01"><span class="foot_images_1"></span><span class="foot_images_2"></span><span class="foot_images_3"></span></div>
        </div>
    </div>

</div>
<div class="footer_foot">
    <span class="footer_foot_left">友情链接：{section name=i loop=$footurl}{if $smarty.section.i.last=="true"}<a href="{$footurl[i].url}" style="color:#fff;">{$footurl[i].title}</a>{else}<a href="{$footurl[i].url}" style="color:#fff;">{$footurl[i].title}、</a>{/if}{/section}</span>
    <span class="footer_foot_right">2014 版权所有 粤ICP备14071153号&nbsp;&nbsp;&nbsp;&nbsp;网站声明 </span>
</div>